<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="class1"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.company.class1.entity.Citizen</class>
        <class>com.company.class1.entity.Business</class>
        <class>com.company.class1.entity.ActivityCodes</class>
    </persistence-unit>
</persistence>
